<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.autismproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutismProject"
        tools:targetApi="31">
        <activity
            android:name=".Child.ChildClickBoard"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Child.ChildVideos"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Parent.ParentClickBoard"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".VideoPlayer"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Parent.ParentVideo"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Parent.ParentHome"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Child.ChildHome"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Child.ChildRegister"
            android:exported="false" />

        <activity
            android:name=".Child.ChildProfile"
            android:exported="false" />

        <activity
            android:name=".AddNewCategory"
            android:exported="false" />
        <activity
            android:name=".AddNewItem"
            android:exported="false" />
        <activity
            android:name=".Child.ChildLogin"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Parent.ParentRegister"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Parent.ParentLogin"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
